@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;400;500;600;700&display=swap');


* {
    font-family: 'Georama', sans-serif !important;
}

body {
    font-family: 'Georama', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong {
    font-family: 'Georama', sans-serif !important;
}

h1 {
    font-weight: bold !important;
    font-size: 3rem !important;
}

h2 {
    font-weight: 600 !important;
    font-size: 2.5rem !important;
}

h3 {
    font-weight: 500 !important;
    font-size: 2rem !important;
}

h4 {
    font-weight: 500 !important;
    font-size: 1.8rem !important;
}

h5 {
    font-weight: 400 !important;
    font-size: 1.5rem !important;
}

h6 {
    font-weight: 400 !important;
    font-size: 1.2rem !important;
}

p {
    font-weight: 300 !important;
    font-size: 1rem !important;
}

strong {
    font-weight: bold !important;
}


:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color--rgb: 0, 124, 186;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-10--rgb: 0, 107, 161;
    --wp-admin-theme-color-darker-20: #005a87;
    --wp-admin-theme-color-darker-20--rgb: 0, 90, 135;
    --wp-admin-border-width-focus: 2px;
    --wp-block-synced-color: #7a00df;
    --wp-block-synced-color--rgb: 122, 0, 223;
    --wp-bound-block-color: var(--wp-block-synced-color);
}

@media (min-resolution: 192dpi) {
    :root {
        --wp-admin-border-width-focus: 1.5px;
    }
}

.wp-element-button {
    cursor: pointer;
}

:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px;
}

:root .has-very-light-gray-background-color {
    background-color: #eee;
}

:root .has-very-dark-gray-background-color {
    background-color: #3f3f3e;
}

:root .has-very-light-gray-color {
    color: #eee;
}

:root .has-very-dark-gray-color {
    color: #313131;
}

:root .has-vivid-green-cyan-to-vivid-cyan-blue-gradient-background {
    background: linear-gradient(135deg, #00d084, #0693e3);
}

:root .has-purple-crush-gradient-background {
    background: linear-gradient(135deg, #34e2e4, #4721fb 50%, #ab1dfe);
}

:root .has-hazy-dawn-gradient-background {
    background: linear-gradient(135deg, #faaca8, #dad0ec);
}

:root .has-subdued-olive-gradient-background {
    background: linear-gradient(135deg, #fafae1, #67a671);
}

:root .has-atomic-cream-gradient-background {
    background: linear-gradient(135deg, #fdd79a, #004a59);
}

:root .has-nightshade-gradient-background {
    background: linear-gradient(135deg, #330968, #31cdcf);
}

:root .has-midnight-gradient-background {
    background: linear-gradient(135deg, #020381, #2874fc);
}

.has-regular-font-size {
    font-size: 1em;
}

.has-larger-font-size {
    font-size: 2.625em;
}

.has-normal-font-size {
    font-size: var(--wp--preset--font-size--normal);
}

.has-huge-font-size {
    font-size: var(--wp--preset--font-size--huge);
}

.has-text-align-center {
    text-align: center;
}

.has-text-align-left {
    text-align: left;
}

.has-text-align-right {
    text-align: right;
}

#end-resizable-editor-section {
    display: none;
}

.aligncenter {
    clear: both;
}

.items-justified-left {
    justify-content: flex-start;
}

.items-justified-center {
    justify-content: center;
}

.items-justified-right {
    justify-content: flex-end;
}

.items-justified-space-between {
    justify-content: space-between;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #ddd;
    clip: auto !important;
    clip-path: none;
    color: #3f3f3e;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

html :where(.has-border-color) {
    border-style: solid;
}

html :where([style*="border-top-color"]) {
    border-top-style: solid;
}

html :where([style*="border-right-color"]) {
    border-right-style: solid;
}

html :where([style*="border-bottom-color"]) {
    border-bottom-style: solid;
}

html :where([style*="border-left-color"]) {
    border-left-style: solid;
}

html :where([style*="border-width"]) {
    border-style: solid;
}

html :where([style*="border-top-width"]) {
    border-top-style: solid;
}

html :where([style*="border-right-width"]) {
    border-right-style: solid;
}

html :where([style*="border-bottom-width"]) {
    border-bottom-style: solid;
}

html :where([style*="border-left-width"]) {
    border-left-style: solid;
}

html :where(img[class*="wp-image-"]) {
    height: auto;
    max-width: 100%;
}

:where(figure) {
    margin: 0 0 1em;
}

html :where(.is-position-sticky) {
    --wp-admin--admin-bar--position-offset: var(--wp-admin--admin-bar--height,
            0px);
}

@media screen and (max-width: 600px) {
    html :where(.is-position-sticky) {
        --wp-admin--admin-bar--position-offset: 0px;
    }
}

.is-small-text {
    font-size: 0.875em;
}

.is-regular-text {
    font-size: 1em;
}

.is-large-text {
    font-size: 2.25em;
}

.is-larger-text {
    font-size: 3em;
}

.has-drop-cap:not(:focus):first-letter {
    float: left;
    font-size: 8.4em;
    font-style: normal;
    font-weight: 100;
    line-height: 0.68;
    margin: 0.05em 0.1em 0 0;
    text-transform: uppercase;
}

body.rtl .has-drop-cap:not(:focus):first-letter {
    float: none;
    margin-left: 0.1em;
}

p.has-drop-cap.has-background {
    overflow: hidden;
}

:root :where(p.has-background) {
    padding: 1.25em 2.375em;
}

:where(p.has-text-color:not(.has-link-color)) a {
    color: inherit;
}

p.has-text-align-left[style*="writing-mode:vertical-lr"],
p.has-text-align-right[style*="writing-mode:vertical-rl"] {
    rotate: 180deg;
}

.wp-block-group {
    box-sizing: border-box;
}

:where(.wp-block-group.wp-block-group-is-layout-constrained) {
    position: relative;
}

.wp-block-wmx-modals-wmx-modal-wrapper {
    position: relative;
}

.wp-block-wmx-modals-wmx-modal-wrapper.is-dark {
    color: #fff;
}

.wp-block-wmx-modals-wmx-modal-wrapper.is-light {
    color: inherit;
}

.wp-block-wmx-modals-wmx-modal-wrapper .inner-content-wrapper {
    overflow: hidden;
    transition: height 0.25s ease-in-out;
}

@media (max-width: 768px) {
    .wp-block-wmx-modals-wmx-modal-wrapper .inner-content-wrapper {
        padding: 0;
    }
}

.wp-block-wmx-modals-wmx-modal-wrapper .toggle {
    background-color: inherit;
    border: none;
    border-radius: 0 0 3px 3px;
    color: inherit;
    padding: 0.25rem 0.5rem;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.25s ease-in-out;
    z-index: 999;
}

@media (max-width: 768px) {
    .wp-block-wmx-modals-wmx-modal-wrapper .toggle {
        left: 50%;
        position: relative;
        top: 100%;
        transform: translateX(-50%);
    }
}

.wp-block-wmx-modals-wmx-modal-wrapper .toggle svg {
    height: 16px !important;
    transform: rotate(0deg);
    transition: transform 0.25s ease-in-out 0.05s;
    width: 16px !important;
}

.wp-block-wmx-modals-wmx-modal-wrapper p {
    margin: 0;
}

.wp-block-wmx-modals-wmx-modal-wrapper p:not(:last-child) {
    margin-bottom: 1em;
}

.wp-block-image img {
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

.wp-block-image[style*="border-radius"] img,
.wp-block-image[style*="border-radius"]>a {
    border-radius: inherit;
}

.wp-block-image.has-custom-border img {
    box-sizing: border-box;
}

.wp-block-image.aligncenter {
    text-align: center;
}

.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
    height: auto;
    width: 100%;
}

.wp-block-image .aligncenter,
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image.aligncenter,
.wp-block-image.alignleft,
.wp-block-image.alignright {
    display: table;
}

.wp-block-image .aligncenter>figcaption,
.wp-block-image .alignleft>figcaption,
.wp-block-image .alignright>figcaption,
.wp-block-image.aligncenter>figcaption,
.wp-block-image.alignleft>figcaption,
.wp-block-image.alignright>figcaption {
    caption-side: bottom;
    display: table-caption;
}

.wp-block-image .alignleft {
    float: left;
    margin: 0.5em 1em 0.5em 0;
}

.wp-block-image .alignright {
    float: right;
    margin: 0.5em 0 0.5em 1em;
}

.wp-block-image .aligncenter {
    margin-left: auto;
    margin-right: auto;
}

.wp-block-image :where(figcaption) {
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.wp-block-image.is-style-circle-mask img {
    border-radius: 9999px;
}

@supports ((-webkit-mask-image: none) or (mask-image: none)) or (-webkit-mask-image: none) {
    .wp-block-image.is-style-circle-mask img {
        border-radius: 0;
        -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>');
        mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>');
        mask-mode: alpha;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
    }
}

:root :where(.wp-block-image.is-style-rounded img,
    .wp-block-image .is-style-rounded img) {
    border-radius: 9999px;
}

.wp-block-image figure {
    margin: 0;
}

.wp-lightbox-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.wp-lightbox-container img {
    cursor: zoom-in;
}

.wp-lightbox-container img:hover+button {
    opacity: 1;
}

.wp-lightbox-container button {
    align-items: center;
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(63, 63, 62, 0.22);
    border: none;
    border-radius: 4px;
    cursor: zoom-in;
    display: flex;
    height: 20px;
    justify-content: center;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 16px;
    text-align: center;
    top: 16px;
    transition: opacity 0.2s ease;
    width: 20px;
    z-index: 100;
}

.wp-lightbox-container button:focus-visible {
    outline: 3px auto #5a5a5a40;
    outline: 3px auto -webkit-focus-ring-color;
    outline-offset: 3px;
}

.wp-lightbox-container button:hover {
    cursor: pointer;
    opacity: 1;
}

.wp-lightbox-container button:focus {
    opacity: 1;
}

.wp-lightbox-container button:focus,
.wp-lightbox-container button:hover,
.wp-lightbox-container button:not(:hover):not(:active):not(.has-background) {
    background-color: #5a5a5a40;
    border: none;
}

.wp-lightbox-overlay {
    box-sizing: border-box;
    cursor: zoom-out;
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 100000;
}

.wp-lightbox-overlay .close-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-height: 40px;
    min-width: 40px;
    padding: 0;
    position: absolute;
    right: calc(env(safe-area-inset-right) + 16px);
    top: calc(env(safe-area-inset-top) + 16px);
    z-index: 5000000;
}

.wp-lightbox-overlay .close-button:focus,
.wp-lightbox-overlay .close-button:hover,
.wp-lightbox-overlay .close-button:not(:hover):not(:active):not(.has-background) {
    background: none;
    border: none;
}

.wp-lightbox-overlay .lightbox-image-container {
    height: var(--wp--lightbox-container-height);
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    width: var(--wp--lightbox-container-width);
    z-index: 9999999999;
}

.wp-lightbox-overlay .wp-block-image {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    position: relative;
    transform-origin: 0 0;
    width: 100%;
    z-index: 3000000;
}

.wp-lightbox-overlay .wp-block-image img {
    height: var(--wp--lightbox-image-height);
    min-height: var(--wp--lightbox-image-height);
    min-width: var(--wp--lightbox-image-width);
    width: var(--wp--lightbox-image-width);
}

.wp-lightbox-overlay .wp-block-image figcaption {
    display: none;
}

.wp-lightbox-overlay button {
    background: none;
    border: none;
}

.wp-lightbox-overlay .scrim {
    background-color: #fff;
    height: 100%;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    z-index: 2000000;
}

.wp-lightbox-overlay.active {
    animation: turn-on-visibility 0.25s both;
    visibility: visible;
}

.wp-lightbox-overlay.active img {
    animation: turn-on-visibility 0.35s both;
}

.wp-lightbox-overlay.show-closing-animation:not(.active) {
    animation: turn-off-visibility 0.35s both;
}

.wp-lightbox-overlay.show-closing-animation:not(.active) img {
    animation: turn-off-visibility 0.25s both;
}

@media (prefers-reduced-motion: no-preference) {
    .wp-lightbox-overlay.zoom.active {
        animation: none;
        opacity: 1;
        visibility: visible;
    }

    .wp-lightbox-overlay.zoom.active .lightbox-image-container {
        animation: lightbox-zoom-in 0.4s;
    }

    .wp-lightbox-overlay.zoom.active .lightbox-image-container img {
        animation: none;
    }

    .wp-lightbox-overlay.zoom.active .scrim {
        animation: turn-on-visibility 0.4s forwards;
    }

    .wp-lightbox-overlay.zoom.show-closing-animation:not(.active) {
        animation: none;
    }

    .wp-lightbox-overlay.zoom.show-closing-animation:not(.active) .lightbox-image-container {
        animation: lightbox-zoom-out 0.4s;
    }

    .wp-lightbox-overlay.zoom.show-closing-animation:not(.active) .lightbox-image-container img {
        animation: none;
    }

    .wp-lightbox-overlay.zoom.show-closing-animation:not(.active) .scrim {
        animation: turn-off-visibility 0.4s forwards;
    }
}

@keyframes turn-on-visibility {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes turn-off-visibility {
    0% {
        opacity: 1;
        visibility: visible;
    }

    99% {
        opacity: 0;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes lightbox-zoom-in {
    0% {
        transform: translate(calc((-100vw + var(--wp--lightbox-scrollbar-width)) / 2 + var(--wp--lightbox-initial-left-position)),
                calc(-50vh + var(--wp--lightbox-initial-top-position))) scale(var(--wp--lightbox-scale));
    }

    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes lightbox-zoom-out {
    0% {
        transform: translate(-50%, -50%) scale(1);
        visibility: visible;
    }

    99% {
        visibility: visible;
    }

    to {
        transform: translate(calc((-100vw + var(--wp--lightbox-scrollbar-width)) / 2 + var(--wp--lightbox-initial-left-position)),
                calc(-50vh + var(--wp--lightbox-initial-top-position))) scale(var(--wp--lightbox-scale));
        visibility: hidden;
    }
}

h1.has-background,
h2.has-background,
h3.has-background,
h4.has-background,
h5.has-background,
h6.has-background {
    padding: 1.25em 2.375em;
}

h1.has-text-align-left[style*="writing-mode"]:where([style*="vertical-lr"]),
h1.has-text-align-right[style*="writing-mode"]:where([style*="vertical-rl"]),
h2.has-text-align-left[style*="writing-mode"]:where([style*="vertical-lr"]),
h2.has-text-align-right[style*="writing-mode"]:where([style*="vertical-rl"]),
h3.has-text-align-left[style*="writing-mode"]:where([style*="vertical-lr"]),
h3.has-text-align-right[style*="writing-mode"]:where([style*="vertical-rl"]),
h4.has-text-align-left[style*="writing-mode"]:where([style*="vertical-lr"]),
h4.has-text-align-right[style*="writing-mode"]:where([style*="vertical-rl"]),
h5.has-text-align-left[style*="writing-mode"]:where([style*="vertical-lr"]),
h5.has-text-align-right[style*="writing-mode"]:where([style*="vertical-rl"]),
h6.has-text-align-left[style*="writing-mode"]:where([style*="vertical-lr"]),
h6.has-text-align-right[style*="writing-mode"]:where([style*="vertical-rl"]) {
    rotate: 180deg;
}

.wp-block-button__link {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    word-break: break-word;
}

.wp-block-button__link.aligncenter {
    text-align: center;
}

.wp-block-button__link.alignright {
    text-align: right;
}

:where(.wp-block-button__link) {
    border-radius: 9999px;
    box-shadow: none;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    text-decoration: none;
}

.wp-block-button[style*="text-decoration"] .wp-block-button__link {
    text-decoration: inherit;
}

.wp-block-buttons>.wp-block-button.has-custom-width {
    max-width: none;
}

.wp-block-buttons>.wp-block-button.has-custom-width .wp-block-button__link {
    width: 100%;
}

.wp-block-buttons>.wp-block-button.has-custom-font-size .wp-block-button__link {
    font-size: inherit;
}

.wp-block-buttons>.wp-block-button.wp-block-button__width-25 {
    width: calc(25% - var(--wp--style--block-gap, 0.5em) * 0.75);
}

.wp-block-buttons>.wp-block-button.wp-block-button__width-50 {
    width: calc(50% - var(--wp--style--block-gap, 0.5em) * 0.5);
}

.wp-block-buttons>.wp-block-button.wp-block-button__width-75 {
    width: calc(75% - var(--wp--style--block-gap, 0.5em) * 0.25);
}

.wp-block-buttons>.wp-block-button.wp-block-button__width-100 {
    flex-basis: 100%;
    width: 100%;
}

.wp-block-buttons.is-vertical>.wp-block-button.wp-block-button__width-25 {
    width: 25%;
}

.wp-block-buttons.is-vertical>.wp-block-button.wp-block-button__width-50 {
    width: 50%;
}

.wp-block-buttons.is-vertical>.wp-block-button.wp-block-button__width-75 {
    width: 75%;
}

.wp-block-button.is-style-squared,
.wp-block-button__link.wp-block-button.is-style-squared {
    border-radius: 0;
}

.wp-block-button.no-border-radius,
.wp-block-button__link.no-border-radius {
    border-radius: 0 !important;
}

:root :where(.wp-block-button .wp-block-button__link.is-style-outline),
:root :where(.wp-block-button.is-style-outline > .wp-block-button__link) {
    border: 2px solid;
    padding: 0.667em 1.333em;
}

:root :where(.wp-block-button .wp-block-button__link.is-style-outline:not(.has-text-color)),
:root :where(.wp-block-button.is-style-outline > .wp-block-button__link:not(.has-text-color)) {
    color: currentColor;
}

:root :where(.wp-block-button .wp-block-button__link.is-style-outline:not(.has-background)),
:root :where(.wp-block-button.is-style-outline > .wp-block-button__link:not(.has-background)) {
    background-color: initial;
    background-image: none;
}

.wp-block-buttons.is-vertical {
    flex-direction: column;
}

.wp-block-buttons.is-vertical>.wp-block-button:last-child {
    margin-bottom: 0;
}

.wp-block-buttons>.wp-block-button {
    display: inline-block;
    margin: 0;
}

.wp-block-buttons.is-content-justification-left {
    justify-content: flex-start;
}

.wp-block-buttons.is-content-justification-left.is-vertical {
    align-items: flex-start;
}

.wp-block-buttons.is-content-justification-center {
    justify-content: center;
}

.wp-block-buttons.is-content-justification-center.is-vertical {
    align-items: center;
}

.wp-block-buttons.is-content-justification-right {
    justify-content: flex-end;
}

.wp-block-buttons.is-content-justification-right.is-vertical {
    align-items: flex-end;
}

.wp-block-buttons.is-content-justification-space-between {
    justify-content: space-between;
}

.wp-block-buttons.aligncenter {
    text-align: center;
}

.wp-block-buttons:not(.is-content-justification-space-between,
    .is-content-justification-right,
    .is-content-justification-left,
    .is-content-justification-center) .wp-block-button.aligncenter {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.wp-block-buttons[style*="text-decoration"] .wp-block-button,
.wp-block-buttons[style*="text-decoration"] .wp-block-button__link {
    text-decoration: inherit;
}

.wp-block-buttons.has-custom-font-size .wp-block-button__link {
    font-size: inherit;
}

.wp-block-button.aligncenter {
    text-align: center;
}

.wp-block-columns {
    align-items: normal !important;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap !important;
}

@media (min-width: 782px) {
    .wp-block-columns {
        flex-wrap: nowrap !important;
    }
}

.wp-block-columns.are-vertically-aligned-top {
    align-items: flex-start;
}

.wp-block-columns.are-vertically-aligned-center {
    align-items: center;
}

.wp-block-columns.are-vertically-aligned-bottom {
    align-items: flex-end;
}

@media (max-width: 781px) {
    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
        flex-basis: 100% !important;
    }
}

@media (min-width: 782px) {
    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
        flex-basis: 0;
        flex-grow: 1;
    }

    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column[style*="flex-basis"] {
        flex-grow: 0;
    }
}

.wp-block-columns.is-not-stacked-on-mobile {
    flex-wrap: nowrap !important;
}

.wp-block-columns.is-not-stacked-on-mobile>.wp-block-column {
    flex-basis: 0;
    flex-grow: 1;
}

.wp-block-columns.is-not-stacked-on-mobile>.wp-block-column[style*="flex-basis"] {
    flex-grow: 0;
}

:where(.wp-block-columns) {
    margin-bottom: 1.75em;
}

:where(.wp-block-columns.has-background) {
    padding: 1.25em 2.375em;
}

.wp-block-column {
    flex-grow: 1;
    min-width: 0;
    overflow-wrap: break-word;
    word-break: break-word;
}

.wp-block-column.is-vertically-aligned-top {
    align-self: flex-start;
}

.wp-block-column.is-vertically-aligned-center {
    align-self: center;
}

.wp-block-column.is-vertically-aligned-bottom {
    align-self: flex-end;
}

.wp-block-column.is-vertically-aligned-stretch {
    align-self: stretch;
}

.wp-block-column.is-vertically-aligned-bottom,
.wp-block-column.is-vertically-aligned-center,
.wp-block-column.is-vertically-aligned-top {
    width: 100%;
}

:root {
    --wp--preset--aspect-ratio--square: 1;
    --wp--preset--aspect-ratio--4-3: 4/3;
    --wp--preset--aspect-ratio--3-4: 3/4;
    --wp--preset--aspect-ratio--3-2: 3/2;
    --wp--preset--aspect-ratio--2-3: 2/3;
    --wp--preset--aspect-ratio--16-9: 16/9;
    --wp--preset--aspect-ratio--9-16: 9/16;
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #F49F1D;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #F49F1D;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #41ACE7;
    --wp--preset--color--vivid-cyan-blue: #41ACE7;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--color--sky-blue: #41ACE7;
    --wp--preset--color--ocean-blue: #41ACE7;
    --wp--preset--color--navy: #19255A;
    --wp--preset--color--dark-navy: #19255A;
    --wp--preset--color--yellow-100: #FFEC00;
    --wp--preset--color--yellow-200: #FFEC00;
    --wp--preset--color--yellow-300: #FFEC00;
    --wp--preset--color--light-orange-100: #FFEC00;
    --wp--preset--color--light-orange-200: #F49F1D;
    --wp--preset--color--light-orange-300: #F49F1D;
    --wp--preset--color--orange-100: #F49F1D;
    --wp--preset--color--orange-200: #F49F1D;
    --wp--preset--color--orange-300: #F49F1D;
    --wp--preset--color--gray-100: #eeeeee;
    --wp--preset--color--gray-200: #dbdad7;
    --wp--preset--color--gray-300: #c2c3c1;
    --wp--preset--color--gray-400: #a9abaa;
    --wp--preset--color--gray-500: #909394;
    --wp--preset--color--gray-600: #777c7e;
    --wp--preset--color--gray-700: #3f3f3e;
    --wp--preset--color--gray-800: #3f3f3e;
    --wp--preset--color--gray-900: #3f3f3e;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,
            rgba(6, 147, 227, 1) 0%,
            rgb(155, 81, 224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,
            rgb(122, 220, 180) 0%,
            rgb(0, 208, 130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,
            rgba(252, 185, 0, 1) 0%,
            rgba(255, 105, 0, 1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,
            rgba(255, 105, 0, 1) 0%,
            rgb(207, 46, 46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,
            rgb(238, 238, 238) 0%,
            rgb(169, 184, 195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,
            rgb(74, 234, 220) 0%,
            rgb(151, 120, 209) 20%,
            rgb(207, 42, 186) 40%,
            rgb(238, 44, 130) 60%,
            rgb(251, 105, 98) 80%,
            rgb(254, 248, 76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg,
            rgb(255, 206, 236) 0%,
            rgb(152, 150, 240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,
            rgb(254, 205, 165) 0%,
            rgb(254, 45, 45) 50%,
            rgb(107, 0, 62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg,
            rgb(255, 203, 112) 0%,
            rgb(199, 81, 192) 50%,
            rgb(65, 88, 208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg,
            rgb(255, 245, 203) 0%,
            rgb(182, 227, 212) 50%,
            rgb(51, 167, 181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg,
            rgb(202, 248, 128) 0%,
            rgb(113, 206, 126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg,
            rgb(2, 3, 129) 0%,
            rgb(40, 116, 252) 100%);
    --wp--preset--gradient--solar: linear-gradient(90deg,
            #F49F1D 0%,
            #FFEC00 100%);
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: clamp(14px,
            0.875rem + ((1vw - 5.76px) * 1.064),
            20px);
    --wp--preset--font-size--large: clamp(22.041px,
            1.378rem + ((1vw - 5.76px) * 2.475),
            36px);
    --wp--preset--font-size--x-large: clamp(25.014px,
            1.563rem + ((1vw - 5.76px) * 3.012),
            42px);
    --wp--preset--font-size--body-small: 14px;
    --wp--preset--font-size--body-regular: 16px;
    --wp--preset--font-size--body-large: 18px;
    --wp--preset--font-size--leader: clamp(18px,
            1.125rem + ((1vw - 5.76px) * 0.355),
            20px);
    --wp--preset--font-size--h-1: clamp(44px,
            2.75rem + ((1vw - 5.76px) * 1.418),
            52px);
    --wp--preset--font-size--h-2: clamp(36px,
            2.25rem + ((1vw - 5.76px) * 0.709),
            40px);
    --wp--preset--font-size--h-3: clamp(26px,
            1.625rem + ((1vw - 5.76px) * 0.355),
            28px);
    --wp--preset--font-size--h-4: clamp(22px,
            1.375rem + ((1vw - 5.76px) * 0.355),
            24px);
    --wp--preset--font-size--h-5: clamp(18px,
            1.125rem + ((1vw - 5.76px) * 0.355),
            20px);
    --wp--preset--font-size--h-6: clamp(16px,
            1rem + ((1vw - 5.76px) * 0.355),
            18px);
    --wp--preset--font-family--heading: Manrope, sans-serif;
    --wp--preset--font-family--body: DM Sans, sans-serif;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 1rem;
    --wp--preset--spacing--40: 2rem;
    --wp--preset--spacing--50: 3rem;
    --wp--preset--spacing--60: 4rem;
    --wp--preset--spacing--70: 6rem;
    --wp--preset--spacing--80: 7.5rem;
    --wp--preset--spacing--90: 9.333rem;
    --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
    --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1),
        6px 6px rgba(0, 0, 0, 1);
    --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
    --wp--preset--shadow--soft: 0px 0px 20px 0px rgba(28, 44, 87, 0.16);
    --wp--custom--header-height: 96px;
}

:root {
    --wp--style--global--content-size: 100%;
    --wp--style--global--wide-size: 1;
}

:where(body) {
    margin: 0;
}

.wp-site-blocks>.alignleft {
    float: left;
    margin-right: 2em;
}

.wp-site-blocks>.alignright {
    float: right;
    margin-left: 2em;
}

.wp-site-blocks>.aligncenter {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

:where(.wp-site-blocks)>* {
    margin-block-start: 24px;
    margin-block-end: 0;
}

:where(.wp-site-blocks)> :first-child {
    margin-block-start: 0;
}

:where(.wp-site-blocks)> :last-child {
    margin-block-end: 0;
}

:root {
    --wp--style--block-gap: 24px;
}

:root :where(.is-layout-flow)> :first-child {
    margin-block-start: 0;
}

:root :where(.is-layout-flow)> :last-child {
    margin-block-end: 0;
}

:root :where(.is-layout-flow)>* {
    margin-block-start: 24px;
    margin-block-end: 0;
}

:root :where(.is-layout-constrained)> :first-child {
    margin-block-start: 0;
}

:root :where(.is-layout-constrained)> :last-child {
    margin-block-end: 0;
}

:root :where(.is-layout-constrained)>* {
    margin-block-start: 24px;
    margin-block-end: 0;
}

:root :where(.is-layout-flex) {
    gap: 24px;
}

:root :where(.is-layout-grid) {
    gap: 24px;
}

.is-layout-flow>.alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
}

.is-layout-flow>.alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
}

.is-layout-flow>.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
}

.is-layout-constrained>.alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
}

.is-layout-constrained>.alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
}

.is-layout-constrained>.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
}

.is-layout-constrained> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: var(--wp--style--global--content-size);
    margin-left: auto !important;
    margin-right: auto !important;
}

.is-layout-constrained>.alignwide {
    max-width: var(--wp--style--global--wide-size);
}

body .is-layout-flex {
    display: flex;
}

.is-layout-flex {
    flex-wrap: wrap;
    align-items: center;
}

.is-layout-flex> :is(*, div) {
    margin: 0;
}

body .is-layout-grid {
    display: grid;
}

.is-layout-grid> :is(*, div) {
    margin: 0;
}

body {
    color: var(--wp--preset--color--dark-navy);
    font-family: var(--wp--preset--font-family--body);
    font-size: var(--wp--preset--font-size--body-regular);
    line-height: 1.5;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

a:where(:not(.wp-element-button)) {
    text-decoration: underline;
}

h1 {
    color: inherit;
    font-family: var(--wp--preset--font-family--heading);
    font-size: var(--wp--preset--font-size--h-1) !important;
    font-weight: 700 !important;
    line-height: 1.2 !important;
}

h2 {
    color: inherit;
    font-family: var(--wp--preset--font-family--heading);
    font-size: var(--wp--preset--font-size--h-2);
    font-weight: 600 !important;
    line-height: 1.4 !important;
}

h3 {
    color: inherit;
    font-family: var(--wp--preset--font-family--heading);
    font-size: var(--wp--preset--font-size--h-3) !important;
    font-weight: 600 !important;
    line-height: 1.2 !important;
}

h4 {
    color: inherit;
    font-family: var(--wp--preset--font-family--heading);
    font-size: var(--wp--preset--font-size--h-4) !important;
    font-weight: 600 !important;
    line-height: 1.2 !important;
}

h5 {
    color: inherit;
    font-family: var(--wp--preset--font-family--heading);
    font-size: var(--wp--preset--font-size--h-5) !important;
    font-weight: 700 !important;
    line-height: 1.2 !important;
}

h6 {
    color: inherit !important;
    font-family: var(--wp--preset--font-family--heading);
    font-size: var(--wp--preset--font-size--h-6) !important;
    font-weight: 700 !important;
    line-height: 1.2 !important;
}

:root :where(.wp-element-button, .wp-block-button__link) {
    background-color: #32373c;
    border-width: 0;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    text-decoration: none;
}

.has-black-color {
    color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-color {
    color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-color {
    color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-color {
    color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-color {
    color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-color {
    color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-color {
    color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-color {
    color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-color {
    color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-color {
    color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-color {
    color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-color {
    color: var(--wp--preset--color--vivid-purple) !important;
}

.has-sky-blue-color {
    color: var(--wp--preset--color--sky-blue) !important;
}

.has-ocean-blue-color {
    color: var(--wp--preset--color--ocean-blue) !important;
}

.has-navy-color {
    color: var(--wp--preset--color--navy) !important;
}

.has-dark-navy-color {
    color: var(--wp--preset--color--dark-navy) !important;
}

.has-yellow-100-color {
    color: var(--wp--preset--color--yellow-100) !important;
}

.has-yellow-200-color {
    color: var(--wp--preset--color--yellow-200) !important;
}

.has-yellow-300-color {
    color: var(--wp--preset--color--yellow-300) !important;
}

.has-light-orange-100-color {
    color: var(--wp--preset--color--light-orange-100) !important;
}

.has-light-orange-200-color {
    color: var(--wp--preset--color--light-orange-200) !important;
}

.has-light-orange-300-color {
    color: var(--wp--preset--color--light-orange-300) !important;
}

.has-orange-100-color {
    color: var(--wp--preset--color--orange-100) !important;
}

.has-orange-200-color {
    color: var(--wp--preset--color--orange-200) !important;
}

.has-orange-300-color {
    color: var(--wp--preset--color--orange-300) !important;
}

.has-gray-100-color {
    color: var(--wp--preset--color--gray-100) !important;
}

.has-gray-200-color {
    color: var(--wp--preset--color--gray-200) !important;
}

.has-gray-300-color {
    color: var(--wp--preset--color--gray-300) !important;
}

.has-gray-400-color {
    color: var(--wp--preset--color--gray-400) !important;
}

.has-gray-500-color {
    color: var(--wp--preset--color--gray-500) !important;
}

.has-gray-600-color {
    color: var(--wp--preset--color--gray-600) !important;
}

.has-gray-700-color {
    color: var(--wp--preset--color--gray-700) !important;
}

.has-gray-800-color {
    color: var(--wp--preset--color--gray-800) !important;
}

.has-gray-900-color {
    color: var(--wp--preset--color--gray-900) !important;
}

.has-black-background-color {
    background-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-background-color {
    background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-background-color {
    background-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-background-color {
    background-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-background-color {
    background-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-background-color {
    background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-background-color {
    background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-background-color {
    background-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-background-color {
    background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-background-color {
    background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-background-color {
    background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-background-color {
    background-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-sky-blue-background-color {
    background-color: var(--wp--preset--color--sky-blue) !important;
}

.has-ocean-blue-background-color {
    background-color: var(--wp--preset--color--ocean-blue) !important;
}

.has-navy-background-color {
    background-color: var(--wp--preset--color--navy) !important;
}

.has-dark-navy-background-color {
    background-color: var(--wp--preset--color--dark-navy) !important;
}

.has-yellow-100-background-color {
    background-color: var(--wp--preset--color--yellow-100) !important;
}

.has-yellow-200-background-color {
    background-color: var(--wp--preset--color--yellow-200) !important;
}

.has-yellow-300-background-color {
    background-color: var(--wp--preset--color--yellow-300) !important;
}

.has-light-orange-100-background-color {
    background-color: var(--wp--preset--color--light-orange-100) !important;
}

.has-light-orange-200-background-color {
    background-color: var(--wp--preset--color--light-orange-200) !important;
}

.has-light-orange-300-background-color {
    background-color: var(--wp--preset--color--light-orange-300) !important;
}

.has-orange-100-background-color {
    background-color: var(--wp--preset--color--orange-100) !important;
}

.has-orange-200-background-color {
    background-color: var(--wp--preset--color--orange-200) !important;
}

.has-orange-300-background-color {
    background-color: var(--wp--preset--color--orange-300) !important;
}

.has-gray-100-background-color {
    background-color: var(--wp--preset--color--gray-100) !important;
}

.has-gray-200-background-color {
    background-color: var(--wp--preset--color--gray-200) !important;
}

.has-gray-300-background-color {
    background-color: var(--wp--preset--color--gray-300) !important;
}

.has-gray-400-background-color {
    background-color: var(--wp--preset--color--gray-400) !important;
}

.has-gray-500-background-color {
    background-color: var(--wp--preset--color--gray-500) !important;
}

.has-gray-600-background-color {
    background-color: var(--wp--preset--color--gray-600) !important;
}

.has-gray-700-background-color {
    background-color: var(--wp--preset--color--gray-700) !important;
}

.has-gray-800-background-color {
    background-color: var(--wp--preset--color--gray-800) !important;
}

.has-gray-900-background-color {
    background-color: var(--wp--preset--color--gray-900) !important;
}

.has-black-border-color {
    border-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-border-color {
    border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-border-color {
    border-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-border-color {
    border-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-border-color {
    border-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-border-color {
    border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-border-color {
    border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-border-color {
    border-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-border-color {
    border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-border-color {
    border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-border-color {
    border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-border-color {
    border-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-sky-blue-border-color {
    border-color: var(--wp--preset--color--sky-blue) !important;
}

.has-ocean-blue-border-color {
    border-color: var(--wp--preset--color--ocean-blue) !important;
}

.has-navy-border-color {
    border-color: var(--wp--preset--color--navy) !important;
}

.has-dark-navy-border-color {
    border-color: var(--wp--preset--color--dark-navy) !important;
}

.has-yellow-100-border-color {
    border-color: var(--wp--preset--color--yellow-100) !important;
}

.has-yellow-200-border-color {
    border-color: var(--wp--preset--color--yellow-200) !important;
}

.has-yellow-300-border-color {
    border-color: var(--wp--preset--color--yellow-300) !important;
}

.has-light-orange-100-border-color {
    border-color: var(--wp--preset--color--light-orange-100) !important;
}

.has-light-orange-200-border-color {
    border-color: var(--wp--preset--color--light-orange-200) !important;
}

.has-light-orange-300-border-color {
    border-color: var(--wp--preset--color--light-orange-300) !important;
}

.has-orange-100-border-color {
    border-color: var(--wp--preset--color--orange-100) !important;
}

.has-orange-200-border-color {
    border-color: var(--wp--preset--color--orange-200) !important;
}

.has-orange-300-border-color {
    border-color: var(--wp--preset--color--orange-300) !important;
}

.has-gray-100-border-color {
    border-color: var(--wp--preset--color--gray-100) !important;
}

.has-gray-200-border-color {
    border-color: var(--wp--preset--color--gray-200) !important;
}

.has-gray-300-border-color {
    border-color: var(--wp--preset--color--gray-300) !important;
}

.has-gray-400-border-color {
    border-color: var(--wp--preset--color--gray-400) !important;
}

.has-gray-500-border-color {
    border-color: var(--wp--preset--color--gray-500) !important;
}

.has-gray-600-border-color {
    border-color: var(--wp--preset--color--gray-600) !important;
}

.has-gray-700-border-color {
    border-color: var(--wp--preset--color--gray-700) !important;
}

.has-gray-800-border-color {
    border-color: var(--wp--preset--color--gray-800) !important;
}

.has-gray-900-border-color {
    border-color: var(--wp--preset--color--gray-900) !important;
}

.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
    background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
}

.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
    background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
}

.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
    background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
}

.has-luminous-vivid-orange-to-vivid-red-gradient-background {
    background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
}

.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
    background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
}

.has-cool-to-warm-spectrum-gradient-background {
    background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}

.has-blush-light-purple-gradient-background {
    background: var(--wp--preset--gradient--blush-light-purple) !important;
}

.has-blush-bordeaux-gradient-background {
    background: var(--wp--preset--gradient--blush-bordeaux) !important;
}

.has-luminous-dusk-gradient-background {
    background: var(--wp--preset--gradient--luminous-dusk) !important;
}

.has-pale-ocean-gradient-background {
    background: var(--wp--preset--gradient--pale-ocean) !important;
}

.has-electric-grass-gradient-background {
    background: var(--wp--preset--gradient--electric-grass) !important;
}

.has-midnight-gradient-background {
    background: var(--wp--preset--gradient--midnight) !important;
}

.has-solar-gradient-background {
    background: var(--wp--preset--gradient--solar) !important;
}

.has-small-font-size {
    font-size: var(--wp--preset--font-size--small) !important;
}

.has-medium-font-size {
    font-size: var(--wp--preset--font-size--medium) !important;
}

.has-large-font-size {
    font-size: var(--wp--preset--font-size--large) !important;
}

.has-x-large-font-size {
    font-size: var(--wp--preset--font-size--x-large) !important;
}

.has-body-small-font-size {
    font-size: var(--wp--preset--font-size--body-small) !important;
}

.has-body-regular-font-size {
    font-size: var(--wp--preset--font-size--body-regular) !important;
}

.has-body-large-font-size {
    font-size: var(--wp--preset--font-size--body-large) !important;
}

.has-leader-font-size {
    font-size: var(--wp--preset--font-size--leader) !important;
}

.has-h-1-font-size {
    font-size: var(--wp--preset--font-size--h-1) !important;
}

.has-h-2-font-size {
    font-size: var(--wp--preset--font-size--h-2) !important;
}

.has-h-3-font-size {
    font-size: var(--wp--preset--font-size--h-3) !important;
}

.has-h-4-font-size {
    font-size: var(--wp--preset--font-size--h-4) !important;
}

.has-h-5-font-size {
    font-size: var(--wp--preset--font-size--h-5) !important;
}

.has-h-6-font-size {
    font-size: var(--wp--preset--font-size--h-6) !important;
}

.has-heading-font-family {
    font-family: var(--wp--preset--font-family--heading) !important;
}

.has-body-font-family {
    font-family: var(--wp--preset--font-family--body) !important;
}

.wp-elements-ec03f9fe1fbfe75797564b6d0f9bb2b7 a:where(:not(.wp-element-button)) {
    color: var(--wp--preset--color--white);
}

.wp-container-core-columns-is-layout-1 {
    flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-2 {
    flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-3 {
    flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-4 {
    flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-5 {
    flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-6 {
    flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-7 {
    flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-8 {
    flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-9 {
    flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-10 {
    flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-11 {
    flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-12 {
    flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-13 {
    flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-14 {
    flex-wrap: nowrap;
}

.wp-container-core-columns-is-layout-15 {
    flex-wrap: nowrap;
}

.wp-block-spacer {
    clear: both;
}

.wp-block-separator {
    border: none;
    border-top: 2px solid;
}

:root :where(.wp-block-separator.is-style-dots) {
    height: auto;
    line-height: 1;
    text-align: center;
}

:root :where(.wp-block-separator.is-style-dots):before {
    color: currentColor;
    content: "···";
    font-family: serif;
    font-size: 1.5em;
    letter-spacing: 2em;
    padding-left: 2em;
}

.wp-block-separator.is-style-dots {
    background: none !important;
    border: none !important;
}